<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!--<link rel="canonical" href=""/>-->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="google-site-verification"
      content="Rt68AIl13ZdFsoyWUV4Ew2VzljwvKNOV_XB9DNqjeqs"
    />
    <meta name="viewport" 
      content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta
      name="description"
      content="Online Youtube Video and Playlist Downloader Free of Ads. Made with Glitch, so the project will have to wake up if not been touched for a while... Enjoy!"
    />
    <meta
      name="keywords"
      content="youtube,playlist,video,downloader,unblocked,no,ads,free,twarped"
    />
    <meta name="author" content="twarped" />
    <title>Free Youtube Video and Playlist Downloader w/ No Ads</title>
    <link
      id="favicon"
      rel="icon"
      href="https://i.ibb.co/WW98p14/Project-Drawing-16310933759254199759.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/style.css" />
    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <!-- <h2>
      this site should work right now. updates coming soon.
    </h2> -->
    <div class="creditbar up">
      <p class="credit left">
        Made By
        <a id="twarped">twarped</a>
      </p>
      <p class="credit right">
        <a
          href="javascript:window.open('/get_video_info?video_id='+document.getElementById('yturl').value);"
          >/get_video_info</a
        >
        api
      </p>
    </div>
    <!--<form class="form" action="https://tattered-lead-archaeopteryx.glitch.me/watch" target="_blank">-->
    <form class="form">
      <h1>Youtube Video Downloader</h1>
      <div style="width: 100%;"></div>
      <div class="flex container">
        <input
          id="v"
          placeholder="Youtube Video URL... Playlists should work..."
          type="text"
        />
        <button id="downloadbutton" role="submit">Download...</button>
      </div>
      <div style="width: 100%" id="options">
        <label class="wrap">
          <input id="inbrowser" type="checkbox" />
          <label for="inbrowser" class="text">
            Inline Attachment?
          </label>
        </label>
        <label class="wrap">
          <input id="audio" type="checkbox" />
          <label for="audio" class="text">
            Audio Only?
          </label>
        </label>
      </div>
    </form>
    <div class="creditbar down">
      <p class="credit left">
        Made With <a href="https://glitch.com/" target="_blank">Glitch</a>
      </p>
      <p class="credit right">
        Make A
        <a
          href="https://glitch.com/~tattered-lead-archaeopteryx"
          target="_blank"
          >Website</a
        >
        Just Like This!
      </p>
    </div>
  </body>
</html>
