<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="google-site-verification"
      content="Rt68AIl13ZdFsoyWUV4Ew2VzljwvKNOV_XB9DNqjeqs"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Free Youtube Video Dowloader with No Ads, Made with glitch, so the project will have to wake up if not been touched for a while... Enjoy!"
    />

    <title>Youtube Video Downloader</title>
    <link
      id="favicon"
      rel="icon"
      href="https://i.ibb.co/WW98p14/Project-Drawing-16310933759254199759.png"
      type="image/x-icon"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <h1>
      Unblocked Youtube Video Downloader
    </h1>
    <form class="form">
      <input id="yturl" style="" type="text" />
      <button id="downloadbutton" role="submit">
        Download...
      </button>
    </form>
    <div>
      <a href="https://glitch.com/edit/#!/tattered-lead-archaeopteryx">
        Make A Website Just Like This!
      </a>
    </div>
  </body>
</html>
