<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="google-site-verification"
      content="Rt68AIl13ZdFsoyWUV4Ew2VzljwvKNOV_XB9DNqjeqs"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Unblocked Online (No Software Needed) Free Youtube Video Dowloader with No Ads, Made with glitch, so the project will have to wake up if not been touched for a while... Enjoy!"
    />
    <meta
      name="keywords"
      content="youtube,video,downloader,unblocked,no,ads,free"
    />
    <meta name="author" content="twarped" />
    <title>Unblocked Free Online Youtube Video Downloader w/ No Ads</title>
    <link
      id="favicon"
      rel="icon"
      href="https://i.ibb.co/WW98p14/Project-Drawing-16310933759254199759.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/style.css">
    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <h1>
      Youtube Video Downloader
    </h1>
    <!-- <h2>
      Sorry guys, this website is under construction and currently doesn't work right now...
    </h2> -->
    <form class="form">
      <input id="yturl" placeholder="Youtube Video URL... Playlists are now supported" type="text" />
      <button id="downloadbutton" role="submit">
        Download...
      </button>
      <div style="width:100%">
        <input id="ytbrowser" type="checkbox" />
        Watch In Browser? <br />
        (No Download Required) doesn't work for playlists<br />
        <input id="ytmp3" type="checkbox" />
        MP3? <br />
        (doesn't really work for watching in browser)<br />
      </div>
    </form>
    <div class="videoinfo">
      <a href="javascript:window.open('/get_video_info?video_id='+document.getElementById('yturl').value);">/get_video_info</a>
      api
    </div>
    <div>
      <p class="remix">
        Make A
        <a href="https://glitch.com/edit/#!/tattered-lead-archaeopteryx"
          >Website</a
        >
        Just Like This!
      </p>
    </div>
    <p class="glitch">Made With <a href="https://glitch.com/">Glitch</a></p>
    <p>
      Made By
      <a
        id="twarped"
        style="color:blue;cursor:pointer;text-decoration:underline;"
        >twarped</a
      >
    </p>
  </body>
</html>
