<html>
  <head>
    
  </head>
  <body>
    <% Object.keys(contents).forEach( item => { %>
    <h4>
      <%= item %>
    </h4>
    <div>
      <%= JSON.stringify(contents[item]) %>
    </div>
    <% }) %>
  </body>
</html>