<html>
  <head>
    
  </head>
  <body>
    <% function formatContents(content) {
      
    } %>
    <% function getType(item) {
      if (typeof item == "object") {
        if (item.isArray()) {
          item.forEach( item => {
            formatContents(item)
          })
        } else {
          Object.keys(item).forEach( item )
        }
      } else { %>
        <p>
          <%= item %>
        </p>
    <% }
    } %>
    <% Object.keys(contents).forEach( item => { %>
    <h1>
      <%= item %>
    </h1>
    <div>
      <%= JSON.stringify(contents[item]) %>
    </div>
    <% }) %>
  </body>
</html>