<html>
  <head>
    
  </head>
  <body>
    <% function getType(item) {
      if (typeof item == "object") {
        if (Array.isArray(item)) {
          item.forEach( content => {
            getType(content);
          });
        } else {
          Object.keys(item).forEach( content => {
            getType(item[content]);
          });
        };
      } else { %>
        <p>
          <%= item %>
        </p>
    <% };
    }; %>
    <% getType(contents) %>
  </body>
</html>