<html>
  <head>
    
  </head>
  <body>
    <% Object.keys(contents).forEach( item => { %>
    <h2>
      <%= item %>
    </h2>
    <p>
      <%= JSON.stringify(contents[item]) %>
    </p>
    <% }) %>
  </body>
</html>