<html>
  <head>
    <link rel="stylesheet" href="playliststyle.css"/>
    <link
      id="favicon"
      rel="icon"
      href="https://i.ibb.co/WW98p14/Project-Drawing-16310933759254199759.png"
      type="image/x-icon"
    />
    <script>
      window.onload = function() {
        var playlistContainer = document.getElementById("playlistContainer");
        var queryParams = window.location.split("?").join("")
        alert(window.location)
        alert(queryParams)
        if (window.location) console.log(window.location)
      }
    </script>
  </head>
  <body>
    <h1>
      Download Youtube Playlists
      <h3>
        with <a href="/">tattered-lead-archaeopteryx.glitch.me</a>
      </h3>
    </h1>
    <div id="playlistContainer">
      
    </div>
  </body>
</html>