<html>
<body>
  <div id="text">
    This is going to take a while... (because it's a playlist)
    but, there might be errors, so just keep this tab open while it processes it, and then a download thing will pop up. <br>but if you don't have time, that's fine, and you can close this tab.<br>
    if there are errors, then it won't download. <br>generally because there's a private video, or a video doesn't exist, or it's an incorrect url, etc..
    (please don't refresh this page over and over. it will break this website, and i might have to manually restart it)
  </div>
  <table>
    <thead><td><%= log.info %></td></thead>
    <tbody><td><%= log.error %></td></tbody>
  </table>
  </body>
</html>