<html>
  <head>
    <script src="/playlistscript.js"></script>
    <script src="/detecterrors.js"></script>
    <link rel="stylesheet" href="playliststyle.css"/>
    <link
      id="favicon"
      rel="icon"
      href="https://i.ibb.co/WW98p14/Project-Drawing-16310933759254199759.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <h1>
      Download Youtube Playlists
      <h3>
        with <a href="/">tattered-lead-archaeopteryx.glitch.me</a>
      </h3>
    </h1>
    <div id="playlistContainer" style="width: 100%;">
      <br>
      <%= contents.playlistTitle %>
      <br>
      <!--<img id="initialLoading" src="https://wpamelia.com/wp-content/uploads/2018/11/loading-hourglass.gif"/>-->
      <% contents.contents.forEach((playlistContent) => { %>
        <div class="playlistContentContainer">
          <img src=<%= playlistContent.playlistVideoRenderer.thumbnail.thumbnails[0].url %> class="playlistContentThumbnail" />
          <p class="playlistContentVideoTitle" style="width: calc(100% - 175px); float: right; overflow-x: scroll;">
            <%= playlistContent.playlistVideoRenderer.title.runs[0].text %>
          </p>
        </div>
        <br>
      <% }); %>
    </div>
    <script>alert(JSON.stringify(<%= contents %>))</script>
  </body>
</html>