<html>
    <head>
        <script>
            function parseParam(param) {
                if (param[0] == "'") param = param.substr(1);
                if (param[param.length - 1] == "'") param = param.slice(0, -1);
                param = param.replace(/\\\\/g, '\\');
                return param;
            }
            try {
                var params = new URLSearchParams(window.location.search);
                window.format = JSON.parse(parseParam(params.get("format")));
                window.videoDetails = JSON.parse(parseParam(params.get("videoDetails")));
            } catch (err) {
                if (<%= (() => { try {format; videoDetails;} catch {return true} return false })() %>) {
                  window.addEventListener("load", () => {
                      document.body.innerHTML = "Needed data not found in query string or ejs. Please try again.";
                  })
                } else {
                  window.format = JSON.parse(decodeURIComponent(`<%= JSON.stringify(format) %>`.replaceAll("=&#34;", "=\\\"").replaceAll("&#34;&#34;", "\\\"\"").replaceAll("&#34;", "\"")));
                  window.videoDetails = JSON.parse(`<%= JSON.stringify(videoDetails) %>`.replaceAll("=&#34;", "=\\\"").replaceAll("&#34;&#34;", "\\\"\"").replaceAll("&#34;", "\""));
                }
            }
        </script>
        <style>
            #content {
                width: 100%;
            }
            #content > video {
                width: 100%;
            }
            #content > audio {
                padding: 15px;
                padding-top: 75px;
                width: calc(100% - 30px);
            }
            p {
                margin: 0;
                padding-left: 20px;
            }
        </style>
    </head>
    <body style="margin:0">
        <script>
            alreadyErrored = false;
            var mime = format.mimeType.split(";")[0];
            function resourceError() {
                if (alreadyErrored) return true;
                content.innerHTML += '<p>An error occurred. Your video/audio URL probably expired... Please go back to the home page and try again.</p>';
                alreadyErrored = true;
            }
            window.content = document.createElement("div");
            content.id = "content";
            content.innerHTML = mime.includes("audio") ? 
            `<audio controls>
                <source src="${format.url}" type="${mime}" onerror="resourceError()">
            </audio>` :
            `<video src="${format.url}" controls onerror="resourceError()"></video>`;
            document.body.appendChild(content);
        </script>
        <p>
            To download the video/audio, click the three dots on the video/audio and click "download".
        </p>
    </body>
</html>