body {
  width: 100%;
}

h1 {
  background-color: white;
  border-bottom: 1px solid grey;
  width: 100%;
  text-shadow: 3px 1px 4px grey;
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
  height: 100px;
  box-shadow: 1px 1px 18px grey;
}

h3 {
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 60px;
}