  margin-left: 0px;dius: 6px;
  box-shadow: 1px 1px 10px grey;
  border: solid 1px grey;
  padding: 15px;
  margin: 10px;
  margin-right: 0px;
}
button {
  padding: 15px;
  border-radius: 6px;
  border: solid 1px grey;
  box-shadow: 1px 1px 10px grey;
  ma1gin: 10px;
  margin-left: 0px;  margin-left: 0px;
}
.form{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
h1{
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  background-color: aqua;
  border-radius: 6px;
  padding:6px;
  font-size: 40px;
  wi