input {
  border-radius: 6px;
  box-shadow: 1px 1px 10px grey;
  border: solid 1px grey;
  padding: 15px;
  margin: 10px;
}
button {
  padding: 15px;
  border-radius: 6px;
  border: solid 1px grey;
  box-shadow: 1px 1px 10px grey;
  margin: 10px;
}