#yturl {
  border-radius: 6px;
  box-shadow: -2px 1px 10px grey;
  border: solid 1px grey;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 15px;
  margin-right: 2px;
  width: 550px;
}

#ytbrowser {
  
}

#downloadbutton {
  padding: 15px;
  width: 100px;
  border-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: solid 1px grey;
  border-left: solid 0px grey;
  box-shadow: 3px 1px 10px grey;
  margin-left: -2px;
  cursor: pointer;
  font-size: 75%;
  text-align: center;
  color: black;
}

.form {
  justify-content: center;
  display: flex;
  flex-column: row;
  flex-wrap: wrap;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

label {
  cursor: pointer;
  user-select: none;
}

input[type="checkbox"] {
  cursor: pointer;
}

.remix {
  position: absolute;
  bottom: -5px;
  right: 10px;
}
.glitch {
  position: absolute;
  bottom: -5px;
  left: 10px;
}
@media (max-width: 640px) {
  #yturl {
    border-radius: 6px;
    box-shadow: 0px 0.5px 10px grey;
    border: solid 1px grey;
    padding: 15px;
    margin-right: 2px;
  }
  #downloadbutton {
    padding: 15px;
    border-radius: 6px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: solid 1px grey;
    border-top: 0;
    box-shadow: 0px 5px 12px grey;
    margin-left: -2px;
    cursor: pointer;
    font-size: 75%;
    text-align: center;
  }
  .form {
    display: flex;
    flex-column: column;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 95%;
    text-align: center;
  }
}

h1 {
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  font-size: 2em;
  width: fit-content;
  text-shadow: 3px 1px 4px grey;
  text-align: center;
}

.videoinfo {
  position: absolute;
  right: 10px;
  top: 10px;
}